.filter {
    color: black;
    /* background-color: #EEEEEE; */
    background-color: rgb(224, 212, 212);
    text-align: center;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter h6 {
    margin: 0;
    padding: 0 25px;
}

.radio-input ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}