.ext-budget {
    position: fixed; 
    z-index: 1; 
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.int-budget {
    position: relative;
    max-width: 280px;
    max-height: 350px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-sizing: content-box;
    padding: 15px;
}

.budget-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.error {
    color: red;
    font-size: 10px;
    margin: 0 auto;
}

/* =============================================================================== */

textarea:focus,
input:focus {
    border: 1px solid rgb(243, 157, 157);
}

/* .budget-form input,
textarea,
select {
    width: 200px;
    margin: 0;
} */


select,
option {
    -webkit-appearance: none;
    -moz-appearance: none;
}


.save-btn {
    padding:5px 15px; 
    background:rgb(202, 190, 190, 0.8); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.save-btn:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* x button */

.x {
    display: flex;
    justify-content: center;
    position: absolute;
    color: black;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background:rgb(202, 190, 190); 
    border: none;
}

.x::before, .x::after {
	position: absolute;
	top: 9px;
	left: 4px;
	width: 13px;
	height: 3px;
	content: "";
    background-color: #eb2727;
	display: none;
	}
.x::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
.x::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
.x:hover { cursor: pointer; }
.x:hover::before, .x:hover::after { display: block; }


/* ------------------------------------------------------------- */

.inpt-date-category {
    justify-items: center;
    justify-content: space-between;
    width: 100%;
}

.inpt-date-category select {
    padding: 5px;
    margin: 10px auto;
}

.inpt-date-category input {
    width: 100%;
}

.inpt-note {
    padding-top: 5px;
}

.inpt-note textarea{
    /* border: 2px solid rgb(22, 38, 187); */
    width: 100%;
    height: 130px;
}