/* 
  Global styles
*/

html {
    font-size: 62.5%;
}
  
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Proza Libre', sans-serif;
}

.root,
.App {
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-shrink: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}