/* Style The Dropdown Button */

.dropbtn {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  /* margin: 0; */
  /* padding: 0; */
}

/* Change color of dropdown links on hover */

.dropdown-content button:hover {
  background-color: #d4cece
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.new-bud-btn button {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.top-btns {
  display: flex;
}

.top-btns .budget-btn {
  background-color: #4CAF50;
  color: black;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding: 10px;
  width: 90px;
}


/*-----------------------------------------------------------------------------*/

/* Tooltip container */
.tooltip-btn {
  position: relative;
  display: inline-block;
  
}

/* Tooltip text */
.tooltip-btn .tooltiptext {
  display: none;
  width: 180px;
  background-color: rgb(167, 155, 155);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  height: 100px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 80%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-btn:hover .tooltiptext {
  display: block;
}

.tooltiptext {
  border: 2px solid rgb(185, 161, 161);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.val-color {
  color: rebeccapurple
}